.yuridik {
  .yuridik-banner {
    display: flex;
    align-items: center;
    padding: 100px 0 120px 0;
    @media screen and (max-width: 426px) {
      flex-direction: column;
    }
    .banner-title {
      @media screen and (max-width: 426px) {
        width: 100%;
        p {
          width: 100%;
          font-size: 16px;
          line-height: 137%;
        }
        h2 {
          font-size: 30px;
          line-height: 37px;
          width: 100%;
        }
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 27px;
      width: 50%;
      color: #231f20;
      margin-bottom: 20px;
    }
    h2 {
      font-style: normal;
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 60px;
      width: 100%;
      line-height: 73px;
      color: #1942df;
    }

    .banner-img {
      position: absolute;
      right: 0;
      @media screen and (max-width: 426px) {
        position: static;
        img {
          width: 100%;
        }
      }
    }
  }
  .accordion-body h1{
    color: #1942DF;
    margin-bottom: 20px;
    font-size: 27px;
  }
  .accordion-body h5{
    color: #231F20;
    margin-bottom: 20px;
    font-size: 19px;
  }
  .accordion-body ul{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 155.9%;
  }
  .accordion-body p{
    margin-top: 40px;
  }
  .accordion-body h4{
    font-size: 19px;
   line-height: 155.9%;
   color: #1942DF;
   margin-bottom: 15px;
  }
  .greyp{
    color: #595959;
    font-size: 17px;
    line-height: 155.9%;
  }
  .grid-accordion {
    @media screen and (max-width: 426px) {
      grid-template-columns: 1fr;
    }
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .accordion-body h1{
    color: #1942DF;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .accordion-body h5{
    color: #231F20;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .accordion-body ul {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155.9%;
  }
  .accordion {
    .accordion-item {
      border: none;
      &.last {
        width: 100%;
      }
      .accordion-header {
        .accordion-button {
          background: #f8f9ff !important;
          &.collapsed {
            h2 {
              font-style: normal;
              text-align: left;
              font-weight: 600;
              font-size: 27px;
              margin-bottom: 30px;
              line-height: 33px;
              color: #1942df;
            }
            p {
              font-style: normal;
              font-weight: 500;
              text-align: left;
              font-size: 19px;
              line-height: 23px;
              color: #231f20;
            }
          }
          display: block;
          height: 100%;
          h2 {
            font-style: normal;
            text-align: left;
            font-weight: 600;
            font-size: 27px;
            margin-bottom: 30px;
            line-height: 33px;
            color: #1942df;
          }
          p {
            font-style: normal;
            font-weight: 500;
            text-align: left;
            font-size: 19px;
            line-height: 23px;
            color: #000;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 426px) {
  .yuridik {
    .accordion {
      .accordion-item {
        border: none;
        &.last {
          width: 100%;
        }
        .accordion-header {
          .accordion-button {
            background: #f8f9ff !important;
            &.collapsed {
              h2 {
                font-size: 17px;
                line-height: 22px;
              }
              p {
                font-size: 17px;
                line-height: 21px;
              }
            }
            display: block;
            height: 100%;
            h2 {
              font-size: 17px;
              line-height: 21px;
            }
            p {
              font-size: 17px;
              line-height: 21px;
              color: #000;
            }
          }
        }
      }
    }
  }
}
