.productspage{
    height: 100%;
}
.productspage h1{
    color: #1942DF;
    margin-left: 150px;
    font-size: 40px;
    line-height: 49px;
}
.products-container{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}
.btn-products{
    color: white;
    width: 144px;
    height: 32px;    
    background: #FF5A3A;
    box-shadow: -3px 4px 8px rgba(255, 90, 58, 0.4);
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border: none;
   
}
.products h4{
    text-align: center;
    margin: 20px 0;
}
.products p{
    text-align: center;
    margin-bottom: 15px;
}

@media screen and (max-width: 900px){
    .products-container{
        display: flex;
        width: 450px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 30px;
    }
}
@media screen and (max-width: 505px){
    .productspage h1{
        font-size: 35px;
        margin-left: 100px;
  }
}