body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
  padding: 8px 12px;
}
.accordion-button {
  background: linear-gradient(90deg, #5c7ae8 0%, #76d7a1 100%);
  border-radius: 15px 15px 0px 0px;
  color: #ffffff !important;
  text-align: center !important;
}
.accordion-header {
}
.accordion-button {
  border-radius: 15px !important;
  text-align: center !important;
  height: 80px;
}
.accordion-item {
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(51, 96, 231, 0.38);
  border-radius: 15px;
}

.accordion-body {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;

  color: #231f20;
}
