.accordionh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;

    color: #1942DF;
    margin: 0 0 80px -70px;
}

@media screen and (max-width: 600px) {
    .accordionh{
     font-style: normal;
     font-weight: 700;
     font-size: 25px;
     line-height: 30px;
     width: 353px;
     margin: 150px 0 30px 10px;
    }
}